@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 背景色 */
  --background-color: #111827; 
  /* 文字颜色 */
  --text-color: white;
}


.light {
  --background-color: #fff;
  --text-color: #111827;
}
.dark {
  --background-color: #111827;
  --text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root:not(.dark):not(.light) {
    --background-color: #ccc;
    --text-color: #fff;
  }
 
}

@media (prefers-color-scheme: light) {
  :root:not(.dark):not(.light) {
    --background-color: #fff;
    --text-color: #111827;
  }
 
}